<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

 <title>{% block title %}404 - Page Not Found{% endblock %}</title>
</head>
<style type="text/css">
   body {
    background-image: url(http://www.reactiongifs.com/r/2013/10/ulgglglglgughlgh.gif);
    background-repeat: repeat;
   }
    h1 {
    font-size: 100px;
    color: white;
    padding: 200px 0px 0px 500px;
    }
  </style>
<body>
    <embed src="404.mp3" autostart="true" hidden="true"> </embed>
    <div name="404">
        <h1>Error 404</h1>
    </div><!-- end 404 -->

</body>
</html>
