<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

 <title>{% block title %}500 - server issues{% endblock %}</title>
</head>
<style type="text/css">
   body {
    background-image: url(http://rs1139.pbsrc.com/albums/n544/dishatred/Animated%20GIFS/Oh-Fuck.gif~c200);
    background-repeat: repeat;
   }
    h1 {
    font-size: 100px;
    color: white;
    padding: 200px 0px 0px 500px;
    }
  </style>
<body>
    <embed src="500.mp3" autostart="true" hidden="true"> </embed>
    <div name="500">
        <h1>Error 500</h1>
    </div><!-- end 500 -->

</body>
</html>